#titlebar {
    height: 15vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: white;
    flex-direction: column;
}

#controlbar {
    display:flex;
    height: 9vh;
    width: 100vw;
    max-width: 100%;
    align-self: start;
}

.pagelink {
    display: flex;
    border: 1px solid black;
    border-bottom: 2px solid black;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.pagelink a {
    all: unset;
    flex: 1;
    font-size: 16pt;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#fixedharry a {
    width: 100%;
    flex: 1;
    z-index: 4;
}

#page-title {
}

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.visible {
    visibility: visible;
    position: relative;
}

.pagediv {
    overflow: auto;
}

#title-div {
    position: absolute;
    text-align: center;
    align-self: center;
    top: 50vh;
    width: 100vw;
    max-width: 100%;
    z-index: 2;
}

#harry {
    position: relative;
}

#harry, #fixedharry {
    color: #800020;
}

#fixedharry {
    width: 100vw;
    max-width: 100%;
    font-size: min(6vh,12vw);
    height:    min(6vh,12vw);
    display: flex;
    justify-content: center;
    text-align: center;
}

#subtitle-div {
    position: absolute;
    top: 50vh;
    width: 100vw;
    max-width: 100%;
}

#subtitle {
    position: relative;
    text-align: center;
    top: 80px;
}

h1{
    font-size: 80px;
    margin:0;
}

h2{
    font-size: 25pt;
    margin:0;
}

body{
    font-family: Helvetica;
}

.topline {
    position: absolute;
    margin-top: 15vh;
    width: 0vw;
    border: 0px;
    height: 1px;
    background-color: black;
}

#leftline { left: 0; }

#rightline { right: 0; }

#leftline, #rightline { height: 2px; }

#indicator{
    position: absolute;
    left: -100vw;
    top: 0;
    height: 9vh;
    opacity: .5;
    background-color: #800020;
    z-index: 3;
}

.anchor { /* for invisible spans to place anchor links correctly */
    position: absolute;
    left: 0;
    top: -15vh;
    height: 0;
    width: 0;
}
