:root {
    --bg-1: #edf5fc;
    --bg-1d: #b9b3bd;
    --bg-2: #001829;
    --bg-2d: #00111D;
    --bg-2l: #00243d;
    --text-dark: #000000;
    --text-light: #ffffff;
    --hl: #5D0319;
    --atlas-blue: #0b80c3;
    --titlebar-lines: var(--bg-2d);
}

#titlebar {
    height: 15vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: var(--bg-2);
    color: var(--text-light);
    flex-direction: column;
}

#controlbar {
    display:flex;
    height: 9vh;
    width: 100vw;
    max-width: 100%;
    align-self: start;
    background-color: var(--bg-2d);
}

.pagelink {
    display: flex;
    border: 1px solid var(--titlebar-lines);
    border-bottom: 2px solid var(--titlebar-lines);
    flex: 1;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

.pagelink a {
    all: unset;
    flex: 1;
    font-size: 16pt;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#fixedharry a {
    width: 100%;
    flex: 1;
    z-index: 4;
}

#page-title {
    background-color: var(--bg-2);
    z-index: -10;
}

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.visible {
    visibility: visible;
    position: relative;
}

.pagediv {
    overflow: auto;
    background-color: var(--bg-1);
}

#title-div {
    position: absolute;
    text-align: center;
    align-self: center;
    top: 50vh;
    width: 100vw;
    max-width: 100%;
    z-index: 2;
}

#harry {
    position: relative;
}

#harry, #fixedharry {
    color: var(--hl);
    user-select: none;
    -webkit-user-select: none;
}

#fixedharry {
    width: 100vw;
    max-width: 100%;
    font-size: min(6vh,12vw);
    height:    min(6vh,12vw);
    display: flex;
    justify-content: center;
    text-align: center;
}

#subtitle-div {
    position: absolute;
    top: 50vh;
    width: 100vw;
    max-width: 100%;
    color: var(--text-light);
}

#subtitle {
    position: relative;
    text-align: center;
    top: 80px;
}

h1{
    font-size: 80px;
    margin:0;
}

h2{
    font-size: 25pt;
    margin:0;
}

body{
    font-family: Helvetica;
}

.topline {
    position: absolute;
    margin-top: 15vh;
    width: 0vw;
    border: 0px;
    height: 6px;
    background-image: linear-gradient(to bottom, var(--bg-2d), rgba(255,0,0,0));
}

#leftline { left: 0; }

#rightline { right: 0; }


#indicator{
    position: absolute;
    left: -100vw;
    top: 0;
    height: 9vh;
    opacity: .5;
    background-color: var(--hl);
    z-index: 3;
}

.anchor { /* for invisible spans to place anchor links correctly */
    position: absolute;
    left: 0;
    top: -15vh;
    height: 0;
    width: 0;
}

#page-two, #page-four {
    background-color: var(--bg-2);
}
