h1.page {
    font-size:  50px;
    text-align: center;
    padding: 5pt;
}

#profile-pic {
    width:  min(30vw, 50vh);
    height:  min(30vw, 50vh);
    object-fit: cover;
    border-radius: 50%;
    padding: 10pt;
    align-self: center;
}

#body.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#body.page > #left {
    padding-left: 5%;
    padding-right: 30px;
}

#body.page > #left > #upper {
    display: flex;
    flex-wrap: nowrap;
}

#body.page > #left > #upper > #right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

#body.page > #left > #lower {
    padding-left: 10px;
    padding-top: 20px;
    margin: auto;
}

#body.page > #right {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 20px;
    padding-left: 30px;
    padding-right: 5%;
}

#body.page > #right > p {
    flex: 1;
}

#job {
    display: flex;
    flex-direction: row;
}
#job > i {
    align-self: center;
    padding-right: 10px;
}

#loc-pin {
    padding-right: 5px;
}

.page-content {
    font-size: 20pt;
    font-weight: normal;
    text-align: left;
}

.page-content > p {
    margin: 20px 0 20px 0;
}

.hl { color: #800020; }

a { color: #800020; }

a:hover { cursor: pointer; }
