h1.page {
    font-size:  50px;
    text-align: center;
    padding: 5pt;
}
/* These bits are more general than just the about page */
.page-content {
    font-size: 20pt;
    font-weight: normal;
    text-align: left;
}

.page-content > p {
    margin: 20px 0 20px 0;
}

.hl { color: #800020; }
a { color: #800020; }
a:hover { cursor: pointer; }

